<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
  <meta charset="utf-8">
  <title>サインアップ</title>
  <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>
  <div class="login-container">
    <h1>新規登録</h1>
    <form th:action="@{/users/signup}" th:object="${form}" method="post">
      <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">

      <label>ユーザーID</label>
      <input type="text" th:field="*{userName}" required>
      
      <label>メールアドレス</label>
      <input type="email" th:field="*{email}" required>
      
      <label>パスワード</label>
      <input type="password" th:field="*{password}" required>
      
      <button type="submit">登録する</button>
    </form>

    <a th:href="@{/login}" class="back-btn">ログイン画面に戻る</a>
    
  </div>
</body>
</html>
