<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
  <meta charset="utf-8">
  <title>ユーザー一覧（管理者）</title>
  <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body class="page-admin">
  <div class="admin-container">
    <h1>ユーザー一覧画面</h1>

    <div class="table-wrap">
      <table>
        <thead>
            <tr>
            <th>ユーザーID</th>
            <th>メールアドレス</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="u : ${users}">
            <td th:text="${u.userName}">userName</td>
            <td th:text="${u.email}">foo@example.com</td>
            </tr>
        </tbody>
      </table>

      <form th:action="@{/logout}" method="post">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
        <button type="submit" class="back-btn">ログイン画面に戻る</button>
      </form>
    </div>
</body>
</html>
